<% if (index%2 == 1) {%>
<div class="card" style="justify-content: right;">

  <%- partial("card-img-1", {randomUrl: randomUrl, patternId: patternId}) %>

  <div class="card-content">
    <div class="card-info-warp">
      <div class="card-info">
        <%= date(post.date) %>
      </div>
      <div class="card-info">
        <%-symbolsCount(post.raw)%>字
      </div>
      <div class="card-info">
        阅读时间: <%=symbolsTime(post.raw)%>
      </div>
    </div>
    <div style="display: flex;">
      <svg xmlns="http://www.w3.org/2000/svg" width="392" height="2" viewBox="0 0 392 2" fill="none">
        <path d="M0 1L392 1.00003" stroke="#A5BFF2" />
      </svg>
    </div>
    <a class="card-title" href="<%= url_for(post.path) %>">
      <%= post.title %>
    </a>
    <span class="card-abstract">
      <%= post._content %>
    </span>

  </div>

</div>

<% } else { %>

<div class="card" style="justify-content: left;">

  <div class="card-content">

    <div class="card-info-warp">
      <div class="card-info">
        <%= date(post.date) %>
      </div>
      <div class="card-info">
        <%-symbolsCount(post.raw)%>字
      </div>
      <div class="card-info">
        阅读时间: <%=symbolsTime(post.raw)%>
      </div>
    </div>
    <div style="display: flex;">
      <svg xmlns="http://www.w3.org/2000/svg" width="392" height="2" viewBox="0 0 392 2" fill="none">
        <path d="M0 1L392 1.00003" stroke="#A5BFF2" />
      </svg>
    </div>
    <div style="transform: translateX(10px);">
      <a class="card-title" href="<%= url_for(post.path) %>">
        <%= post.title %>
      </a>
      <span class="card-abstract" style="transform: translateX(0px);">
        <%= post._content %>
      </span>
    </div>
  </div>

  <%- partial("card-img-2", {randomUrl: randomUrl, patternId: patternId}) %>

</div>

<% } %>