<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">

<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
  <!-- stylesheets list from _config.yml -->
  <% theme.stylesheets.forEach(url => { %>
  <link rel="stylesheet" href="<%=url%>">
  <% }); %>
  <% } %>

</head>

<body>
  <div class="background">
    <% var urls = config.imgURLs;
      var randomIndex = Math.floor(Math.random() * urls.length);
      var randomUrl = urls[randomIndex]; %>

    <img src="<%= randomUrl %>" alt="">

    <div class="title-text animate__animated animate__bounce">
      <h1>This is
        <span class="name">
          <%=config.author%>
        </span>
      </h1>
      <%=config.proverb%>

    </div>
  </div>
  
  <div class="background-coverage">
    <!--Typed text-->
      <div class="background-coverage-text">
        <span id="background-coverage-text">
        </span>
      </div>
  </div>

  <div class="navigator">
    <div class="navi-buttom-container">
      <% Object.keys(theme.menu).forEach(key => { %>
      <% if (theme.menu[key] instanceof Object) { %>
      <div class="navi-dropdown">
        <div class="dropbtn">
          <%=key%>
        </div>
        <div class="dropdown-content">
          <% Object.keys(theme.menu[key]).forEach(element => { %>
          <a href="<%=theme.menu[key][element]%>">
            <%=element%>
          </a>
          <% }); %>
        </div>
      </div>
    </div>
    <% } else { %>
    <a href="<%=theme.menu[key]%>" class="navi-buttom">
      <div>
        <%=key%>
      </div>
    </a>
    <% } %>
    <% }); %>
  </div>

  <div class="background-occupation">
    
  </div>



  <div class="page-container">
    <div>
      <div class="slidebar">
        <div class="panel">

          <div class="avatar">
            <img src="/pic/avatar.jpg" alt="" style="width: 100%; height: 100%;">
          </div>

          <div class="info">

            <div class="buttom-line">
              <div class="round-buttom"></div>
              <div class="round-buttom"></div>
              <div class="round-buttom"></div>
            </div>

            <div class="line-text"></div>

            <div class="line-text"></div>

            <div class="block-text"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="content">

    </div>

  </div>
  </div>



  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.layout_scripts.forEach(url => { %>
  <script src="<%=url%>"></script>
  <% }); %>
  <% } %>

</body>

</html>